.flex__ttl {
    display: flex;
}

.tab {
    width: 500px;
}
.tab-menu {
    display: flex;
}

.tab-menu__item:not(:first-child) {
    border-left: none;
}
.tab-menu__item.active {
    background: #000;
    color: white;
}

.tab-content__item {
    display: none;
    margin: 0 0 0 30px;
}
.tab-content__item.show {
    display: block;
}
.tab-menu__item img {
    width: 50px;
}

.tab-content__item img {
    height: 150px;
}

